#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm、IntelliJ IDEA
#//////////////////////////
.idea/

#//////////////////////////
# 备份后缀.bak
#//////////////////////////
*.bak
update/